

/*Improved from this since then*/
*{
    box-sizing:border-box;
}
body {
    position:relative;
    font-family: 'Roboto', sans-serif;
    min-height:100vh;
    margin:0;
    padding:0 0 3rem 0;
    position:relative;
    padding-bottom:6rem;
}
.container{
    
}
.single-form-content{
    margin: 0 auto;
    width:50%;
}
.center-element{
    margin:0 auto;
}
.flex-center{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.form-heading{
    
    margin-bottom:3rem;
}
.input-between{
    margin-top:1rem;
}
.
.extraspace {
    border-bottom-style:solid;
}
.btn:hover {
    background-color: #ffd180;
}
label{
    display:inline;
}
.cardpad {
    margin-right:20px;
}
.form-padding{
    padding:40px;
}
.overflow-padding {
    padding:20px;
}
.rounded-corners {
    border-radius:12px !important; 
    overflow:hidden;
}
.floor-fade {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url(../images/background.JPG);*/
    background: url(../images/matdesign.png);
}
.topnav {
    background-color: orange; /*named orange accent 2 in materialize*/
    padding:0 5rem;
    overflow: hidden;
}

    .topnav a {
        float: left;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
        font-size: 17px;
        color:black;
    }

        .topnav a:hover {
            background-color: #ffd180; /*orange accent 1 in materialize*/
        }
    

.nav__item {
}
.topnav a:not(:last-child){
    margin-right:0.5rem;
}
.normal-input:focus {
    border-bottom: none !important;
    /*box-shadow: 0 1px 0 0 #000;*/
}
.form-bot-actions{
    margin-top:2rem;
}
.space-top-btn{
    margin-top:2rem;
}
.space-top{
    margin-top:3rem;
}
.logo{
    font-size:2rem;
}
.hover-opaque:hover {
    opacity: 0.9;
    cursor:pointer;
}
.card{
    width:330px;
}
.card-item-picture {
    width:350px;
    height: 200px;
}

.div--center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.itemcardcustomsize{
    height: 300px;
    width: 300px;
}
.bottom_drop{
    position:absolute;
    bottom:0;
    max-width:100%;
}
.div--padding-status{
    padding:1rem 2rem;
}
.footer
{
   background-color:orange;
   bottom:0;
   position:absolute;
   height:3rem;
   width:100%;
   padding:1rem 0;
   clear:both;
   margin-top:20px;
   text-align:center;
}
.footer p{
    margin:0; padding:0;
}