@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="orange lighten-2 black-text rounded-corners form-padding">
    <h3>Item inventory using ASP.NET MVC in Material Design </h3>
</div>


<p>*insert additional info*</p>
